html, body {
    padding: 0;
    margin: 0;
}
body {
    background: #52afa6;
    color: #FFF;
    /* usar fonte do cloudflare */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.container-header {
    height: 123px;
    background: #EEECDE;
    align-items: center;
}
.container-header h1 {
    margin: 0;
    color: #000;
}
.container-header img {
    width: 102px;
}
.container-header .wrapper {
    display: flex;
    height: 123px;
    /* gap -> uma das propriedades do display flex */
    gap: 15px; /* é a margem entre os elementos dentro do display: flex */
    padding: 0 20px;
    align-items: center;
}
.container-header span {
    color: #e37c8f;
}
.container-header button {
    margin: 0;
    margin-left: auto;
    background: none;
    border: 2px solid #e37c8f;
    font-size: 1.2rem;
    border-radius: 5px;
    color: #e37c8f;
}
.container-header button:hover {
    cursor: pointer;
}
.wrapper {
    /* vai centralizar o conteúdo da sua div  */
    width: 900px;
    margin: 0 auto;
}

.modal {
    /* div que ocupe a tela inteira */
    position: absolute; /* vai ter posição absoluta em relação à sua div pai, nesse caso ele vai ter posição absoluta em relação a tela inteira do navegador */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* canal alfa -> 6 dígitos + 2 dígitos (indicam a transparência) */
    background: #00000080;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}
.modal .modal-content {
    width: 286px;
    min-width: 285px;
    min-height: 99px;
    background: #eabb00;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    color: #000;
}
.modal .modal-content h1 {
    margin: 0;
    font-size: 24px;
}
.modal .modal-content button.btn-close,
#tickers-list .ticker button.btn-close {
    background: none;
    font-size: 1.4rem;
    color: #000;
    border-style: hidden;
    position: absolute;
    top: 5px;
    right: 8px;
    padding: 10px 16px;
}
.button-modal {
    background-color: #EEECDE;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px #000;
    margin-left: 27px;
}
.button-modal:hover {
    cursor: pointer;
}
.form-modal{
    background-color: #EEECDE;
    border: 1px solid #000;
    border-radius: 3px;
    width: 37px;
}
.form-modal:hover {
    cursor: auto;
}
form {
    text-align: center;
    margin-top: 18px;
}
#add-stock button:hover {
    cursor: pointer;
}
#tickers-list {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

#tickers-list .ticker {
    background-color: #eabb00;
    padding: 20px;
    border-radius: 15px;
    width: 185px;
    text-align: center;
    position: relative;
    color: black;
    height: 193px;
    border: 10px solid #52afa6;
    padding: 10px;
    /* box-shadow: 5px 10px #000; */
    position: relative;
}

#tickers-list .ticker h2 {
    padding: 0;
    margin: 0;
}

#tickers-list .ticker button.btn-close {
    padding: 0px 5px;
    font-size: 1rem;
    display: none;
}

#tickers-list .ticker button.btn-close:hover {
    cursor: pointer;
}

.botoes {
    position: absolute;
    bottom: 6px;
    left: 27px;
    display: none;
}
.botoes .btn-remove,
.botoes .btn-edit,
.botoes .btn-translate {
    background-color: #000;
    color: #fff;
    width: 74px;
    padding: 3px 0;
    border: none;
    border-radius: 5px;
    border: 1px solid white;
}
.botoes .btn-remove:hover,
.botoes .btn-edit:hover,
.botoes .btn-translate:hover {
    cursor: pointer;
    box-shadow: 2px 2px white;
}
#edit {
    width: 273px;
    height: 81px;
}
#edit-advice .button-modal {
    margin-left: 0;
}
#edit-advice .titulo {
    display: flex;
}
#edit-advice .titulo h2 {
    margin: 0;
    margin-left: 10px;
}
#btnCloseModalEdit:hover {
    cursor: pointer;
}